---
import Layout from "../layouts/Layout.astro"
import { type Monster, MonsterSchema } from "../api/monster"
import Search from "../components/Search"
const modules = [...(await Astro.glob("/public/monsters.json"))] as [
    { default: any[] },
]

const MonsterData: Monster[] = modules[0].default.map((raw) => {
    const result = MonsterSchema.safeParse(raw)

    if (!result.success) {
        throw new Error(raw?.name + "\n" + result.error.message)
    }
    return result.data
})
---

<Layout title="Monsters">
    <main>
        <h1>Monsters</h1>
        <Search initialResults={MonsterData} client:load />
    </main>
</Layout>
