---
import Layout from "../layouts/Layout.astro"
import { Monster, MonsterSchema } from "../api/monster"
import Search from "../components/Search"
const modules = [...(await Astro.glob("/src/api/monsters.json"))] as [
    { default: any[] }
]

const MonsterData: Monster[] = modules[0].default.map((raw) =>
    MonsterSchema.parse(raw)
)
---

<Layout title="Monsters">
    <main>
        <h1>Monsters</h1>
        <Search initialResults={MonsterData} client:load />
    </main>
</Layout>
