---
import Layout from "../layouts/Layout.astro"
import { type Monster } from "../api/monster"
import Search from "../components/Search"
const modules = [...(await Astro.glob("/public/monsters.json"))] as [
    { default: Monster[] },
]

const MonsterData = modules[0].default

if (!Array.isArray(MonsterData)) {
    throw new Error("Monster data is not an array")
}
---

<Layout title="Monsters">
    <main>
        <h1>Monsters</h1>
        <Search initialResults={MonsterData} client:load />
    </main>
</Layout>
